
// //Fonts
$font-main: 'Raleway', sans-serif;
$font-primary: "Roboto", sans-serif;
$font-secondary:'Roboto', sans-serif;

// //Colors
$main-color: #CCB2A3;
// $primary-color: #D4C17F;
// $secondary-color: #2D343C;
$text-color: #fff;
// $input-color: rgba(255, 255, 255, 0.199);
// $text-input-color: #BEBEBE;
$link-color: #343434;
$link-hover: #FF9619;
$fon-color:  #CCB2A3;
$card-fon-color: #F2F3F5;

// //Media
$tablet: 999px;
$tabletSm: 768px;
// $mobile: 670px;